<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Config>
  <AppSettings>
    <SamplingInterval>60</SamplingInterval>
    <NotificationTimeout>0</NotificationTimeout>
    <TriageStreams>20</TriageStreams>
    <AutoCheckFavorites>true</AutoCheckFavorites>
    <SaveWindowPosition>false</SaveWindowPosition>
    <WinTop>0</WinTop>
    <WinLeft>0</WinLeft>
    <WinWidth>1000</WinWidth>
    <WinHeight>580</WinHeight>
    <LivestreamerArguments>best</LivestreamerArguments>
    <StreamOpeningProcedure>Tab</StreamOpeningProcedure>
  </AppSettings>
  <Filters>
  </Filters>
  <BannedGames>call of duty</BannedGames>
  <TimeBlock>
    <FromSpan>00:00:00</FromSpan>
    <ToSpan>00:00:00</ToSpan>
  </TimeBlock>
  <Favorites>
    <TwitchTv>
    </TwitchTv>
  </Favorites>
</Config>